<h2>おすすめの天体を測定します.</h2>
<h3>どっちのクレーターがいいですか? 5つの二択から選択してください。</h3><br />
<span class="alert alert-error">
  <%= notice %>
</span>

<%= form_tag crater_match_result_path do %>
  <% @craters.each_with_index do |crater, index| %>
    <%= content_tag :h2, index/2+1 if index % 2 == 0 %>
    <%= raw "<ul id=\"list#{index}\" class=\"thumbnails\">" if index % 2 == 0 %>
    <li id="crater<%= index %>" class="span4">
      <label>
	<%= radio_button_tag "selected_crater[#{index/2}]", crater.id %>
	<%= image_tag crater.image_url, :width => "280px" %>
      </label>
    </li>
    <%= raw "</ul>" if index %2 == 1 %>
  <% end %>
  <%= submit_tag :submit %>
<% end %>
