<p>
<%= link_to "International Space Apps Challenge",  "http://spaceappschallenge.org/" %>でWebCreaterが一日で作ったWebCraterサイトです。<br />
Venus, Ganymede, Callistoにあるクレータについての情報があります。<br />
主に
<ul>
  <li>クレーターの情報を<%= link_to "JSON形式で取得", crater_api_path %>したい人</li>
  <li><%= link_to "クレーターの好みからお薦め", crater_match_path %>の天体を知りたい人</li>
  <li>クレーターに詳しい人のための<%= link_to "クレータークイズ", crater_quiz_path %>に挑戦したい人</li>
  <li>クレーターに興味のある人</li>
  <li>穴があったら入りたい人</li>
  <li>王様の耳がロバの耳だと気づいた人</li>
</ul>
のためのサイトです。githubのレポジトリは<%= link_to "こちら", "https://github.com/knishioka/NASA_Hackathon" %><br />
これとは別にandroid applicationやiphone applicationも開発されています。
</P>

<ul class="thumbnails">
  <li class="span3"><%= image_tag "http://www.lpi.usra.edu/resources/vc/vchome2b.gif", :class => "span3"%></li>
  <li class="span3"><%= image_tag "http://www.lpi.usra.edu/resources/gc/gfar.gif", :class => "span3" %></li>
  <li class="span3"><%= image_tag "http://www.lpi.usra.edu/resources/cc/cfar.gif", :class => "span3" %></li>
</ul>

<div>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=409588349059635";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
</div>
